.F_font{
    font-family:Giraffey,"Noto Sans CJK TC light",sans-serif;
    text-align: center;
    font-size: 100px;
}
*{
    box-sizing: border-box;
}
.box{
    float: left;
    width: 33.33%;
}
.clearfix::after{
    content: "";
    clear: both;
    display:table;
}
.pic_box{
    position: absolute;
    bottom:10%;
    left:20%;
    right:20%;
    width:60%;
    overflow:scroll;
}
#cr{
    display:block;
    position: absolute;
    top:100%;
    right:80%;
}
#em{
    display:block;
    position: absolute;
    top:100%;
    left:80%;
}
/*Noto Sans CJK TC light*/
