body{
    background-image:url(%E5%BA%95%E5%9C%96.png);
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-size: cover;/*覆蓋所有範圍*/
}
.pic{
    position: absolute;
    top:0%;
    right:0%;
    width:100%; 
}
#left_but{
    position:absolute;
    /* border:solid;*/
    margin-top:48%; /*相對於 div 的top*/
    left:65%;
    width:4%;
    /*z-index: +2;*/
}
#right_but{
    position:absolute;
 /* border:solid;*/
    margin-top:48%; 
    left:80%;
    width:4%;
     /*z-index: +2;*/
}
#mid_but{
    position:absolute;
   /* border:solid;*/
    margin-top:46.5%; 
    left:68.5%;
    width: 12%;
    /*z-index: +2;*/
}
/**/